* {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

p{
    color: white;
}
a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

body {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
}

p {
    text-align: center;
}

.pageHolder {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-form {
    position: absolute;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(100px);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    box-shadow: white;
    display: flex;
    flex-direction: column;
}

.preference-form {
    position: absolute;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(100px);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    box-shadow: white;
    
}

.background-graphic {
    position: relative;
    padding: 200px;
    background-color: rgb(127, 164, 177);
    right: -30px;
    top: 60px;
    border-radius: 10px;
}

.background-graphic-dark {
    position: relative;
    padding: 200px;
    background-color: darkblue;
    right: 30px;
    top: -60px;
    border-radius: 10px;
}

.signup {
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.logo {
    width:250px;
    
}

.preflogo {
    width:500px;
    
}

.formTitle {
    font-size: 30px;
    padding-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
}

.imgholder {
    display: flex;
    background-color: rgb(56, 56, 56);
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.inputField {
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgb(44, 44, 44);
    color: white;
    width:300px;
}

.inputField:focus{
    background-color: white;
    color: black;
}

.submit {
    max-width: 50%;
    background-color: transparent;
    border: solid lightblue 3px;
    margin-top: 10px;
    color: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
}

.submit:hover {
    background-color: lightblue;
    color: black;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
    font-size: 20px;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
    font-size: 20px;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
    font-size: 20px;
}

.altAction {
    padding-top: 10px;
    font-size: 15px;
}

.mainNav {
    display: flex;
    background-color: black;
    width: 100vw;
    color: white;
}

.navDiv{
    flex-direction: row;
    padding: 10px;
}

.mainBody{
    display: grid;
    grid-template-columns: 280px 280px 200px 280px ;
    justify-content:center;
    background-color: black;
    grid-gap:20px;
    column-gap: 50px;
    grid-template-areas: 
        "status status status profile"
        "resources resources resources profile"
        "resources resources resources profile"
        ;
}

.grid-item{
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(78, 78, 78);   
    border:skyblue 10px solid;   
}

.registrationStatus{
    grid-area: status;
}

.sectionLine{
    width:100%;
    background-color: black;
}
/* .sectionLine::after{
    border-bottom: 3px solid black;
    content: "Profile";
} */

.resources{
    grid-area: resources;
}

.profile{
    grid-area:profile;
}


.statusField{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.status{
    font-size: 25px;
    color: white    ;
    text-align: center;
    
}

.green{
    color:green;
}

.yellow{
    color: orange;
}

.red{
    color:red;
}

.indicator{
    width: 150px;
    height:150px;
    margin:0px;
    padding:0px;
}

.processing{
    width: 10px;
    height:10px;
    margin:0px;
    padding:0px;
}

.dashboard{
    width:100vw;
    height:100vh;

}

.registerFull {
    background-color: grey;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    box-shadow: none;
    color: black;
}

.display{
    display: inline-flex;
    flex-direction: column;
    color:white;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.long{
    height:100px;
    padding:20px;
    width:297px;
}

.prefInput {
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgb(44, 44, 44);
    color: white;
    width:600px;
}

.item2{
    width:150px
}

.prefInput:focus{
    background-color: white;
    color: black;
}

.resources{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    vertical-align: middle;
}

 .table, th, td{
    border: 1px solid white;
    padding: 3px;
    
}

.profile{
    font-size: 20px;
    font-weight: bold;
}